<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category {{.CategoryProducts.CategoryName}}</title>
</head>

<body>
    <p>Total products: {{ len .CategoryProducts.Products }}</p>
    <ul>
        {{ range $index, $product := .CategoryProducts.Products }}
        <li>
            Name: {{ $product.ProductName }}
            Price: {{ $product.Price }}
            Description: {{ $product.Description }}
            UUID: {{ $product.UUID }}
        </li>
        {{ end }}
    </ul>
    <p>Processed {{ len .CategoryProducts.Products }} products</p>
</body>

</html>