{{define "title"}}Category: {{.CategoryProducts.CategoryName}}{{end}}
{{define "main"}}
<p>Total products: {{ len .CategoryProducts.Products }}</p>
<ul>
    {{ range $index, $product := .CategoryProducts.Products }}
    <li>
        Name: {{ $product.ProductName }}
        Price: {{ $product.Price }}
    </li>
    {{ end }}
</ul>
<p>Processed {{ len .CategoryProducts.Products }} products</p>
{{end}}
<h1>category.html</h1>