{{define "title"}}Product: {{.Product.Product.ProductName}}{{end}}
{{define "main"}}
<div class="text-center">
    <h1>In Category: {{.Product.Category.CategoryName}} || Product: {{.Product.Product.ProductName}}</h1>
</div>

<div class="container text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    №
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    UUID
                </th>
                <th scope="col">
                    Created at
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{.Product.Product.ProductName}}</td>
                <td>{{ .Product.Product.Price }}</td>
                <td>{{ .Product.Product.Description }}</td>
                <td>{{ .Product.Product.UUID }}</td>
                <td>{{ humanDate .Product.Product.CreatedAt }}</td>
            </tr>
        </tbody>
    </table>
</div>
{{end}}